//* Desktop *
@media screen and (min-width: 769px) {
  body {
    padding: 0 11.458vw 0;
  }
  //** header **
  .header {
    width: 100%;
    height: 9.088vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    flex-basis: 4.45vw;
  }
  .nav {
    width: 40%;
    flex-basis: 38.83%;
    text-transform: Capitalize;
    font-size: 0.9375rem;
  }
  .nav > * {
    display: flex;
    justify-content: space-between;
  }
  .innerLink {
    color: $grey;
  }
  .innerLink:hover {
    color: $red;
  }
  .innerLink:active {
    color: $orange;
  }

  //** Main **
  .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.08vw;
    row-gap: 4.86vw;
  }
  .main > * {
    overflow: hidden;
  }

  //** Section **
  .section {
    grid-column: 1/span 2;
    width: 50.69vw;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.08vw;
  }
  .sectionFigure {
    width: 100%;
    aspect-ratio: 5/2;
    grid-column: 1/span 2;
    overflow: hidden;
  }
  .sectionFigure .img {
    width: 100%;
    object-position: right top;
  }
  .title {
    grid-column: 1;
    grid-row: 2/span 2;

    align-self: end;
  }
  .content {
    grid-column: 2;
    grid-row: 2;
  }

  /*** Button ***/
  .button {
    border: none;
    background-color: $red;
    width: 12.85vw;
    height: 8.96vh;
    text-transform: uppercase;
    color: $white;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.27rem;
    grid-column: 2;
    grid-row: 3;
    align-self: end;
  }
  .button:active {
    background-color: $orange;
  }


  /** Aside **/
  .aside {
    grid-column: 3/ span 1;
    grid-row: 1/ span 1;
    width: 24.31vw;
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 2.22vw 1.67vw;
  }
  .asideArticle p {
    color: $lightGrey
  }

  /** Footer **/
  .footer {
    margin: 4.86vw 0;
    display: flex;
    justify-content: space-between;
  }

  /*** Article ***/
  .article {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    column-gap: 1.08vw;
  }
  .articleFigure {
    width: 6.94vw;
    aspect-ratio: 100 / 129;
    object-fit: contain;
    overflow: hidden;
    grid-column: 1;
  }
  .articleFigure img {
    width: 100%;
    height: 100%;
    object-position: center bottom;
    object-fit: cover;
  }
  .articleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    grid-column: 2/ span 2;
  }

  //* Font *
  .h1 {
    font-size: 3.5rem;
    line-height: 1em;
    font-weight: 800;
  }
  .articleH3 {
    font-size: 2rem;
    line-height: 1.000em;
    font-weight: 700;
    color: $lightGrey;
  }
  .articleH4 {
    font-size: 1.125rem;
    line-height: 1.333em;
    font-weight: 800;
  }
  .asideH2 {
    font-size: 2.5rem;
    line-height: 1.000rem;
    font-weight: 700;
    color: $orange;
    -webkit-text-stroke: 1px $black;
  }
  .asideH4 {
    font-size: 1.25rem;
    line-height: 1.200em;
    font-weight: 800;
  }
  .p {
    font-size: 0.9375rem;
    line-height: 1.733rem;
    font-weight: 400;
    color: #5E607A;
  }
  hr {
    color: #5E607A;
    width: 100%;
  }
}