<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Web 3.0 Project</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../style/style.css">
    <!-- Font -->
        <!-- Inter -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <figure class="logo">
            <img src="../img/logo.svg" src="#" alt="logo" class="img">
        </figure>

        <nav class="nav">
            <ul class="">
                <li><a href="#" class="innerLink">home</a></li>
                <li><a href="#" class="innerLink">new</a></li>
                <li><a href="#" class="innerLink">popular</a></li>
                <li><a href="#" class="innerLink">trending</a></li>
                <li><a href="#" class="innerLink">categories</a></li>
            </ul>
        </nav>
    </header>

    <main class="main">
        <section class="section">
            <figure class="sectionFigure">
                <img src="../img/img00.png" alt="colorfull wood lego like toys" class="img">
            </figure>

                <h1 class="h1 title">The Bright Future of Web 3.0?</h1>
                    <p class="p content">We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. But is it really fulfilling its promise?</p>
                        <button class="button">Read More</button>
</section>

        <aside class="aside">
            <h2 class="asideH2 h2">New</h2>
                <article class="asideArticle">
                        <h4 class="asideH4">Hydrogen VS Electric Cars</h4>
                            <p class="p">Will hydrogen-fueled cars ever catch up to EVs?</p>
                    </article>
                    <hr>
                <article class="asideArticle">
                        <h4 class="asideH4">The Downsides of AI Artistry</h4>
                            <p class="p">What are the possible adverse effects of on-demand AI image generation?</p>
                    </article>
                    <hr>
                <article class="asideArticle">
                        <h4 class="asideH4">Is VC Funding Drying Up?</h4>
                            <p class="p">Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
                    </article>
        </aside>

        <article class="article">
            <figure class="articleFigure">
                <img src="../img/img01.png" alt="Bucnk of retro tech from the 80s" class="img">
            </figure>

                    <h3 class="h3">01</h3>
                        <h4 class="h4">Reviving retro PCs</h4>
                            <p class="p">What happens when old PCs are given modern upgrades?</p>
            </article>

        <article class="article">
            <figure class="articleFigure">
                <img src="../img/img02.png" alt="Close up from a keyboard with red illuminated keys" class="img">
            </figure>
                <h3 class="h3">02</h3>
                    <h4 class="h4">Top 10 Laptops of 2022</h4>
                        <p class="p">What happens when old PCs are given modern upgrades?</p>
            </article>

        <article class="article">
            <figure class="articleFigure">
                <img src="../img/img03.png" alt="PS4 controller in mid air" class="img">
            </figure>
                    <h3 class="h3">03</h3>
                        <h4 class="h4">The Growth of Gaming</h4>
                            <p class="p">How the pandemic has sparked fresh opportunities.</p>
    </article>
    </main>

</body>
</html>