//* Mobile *
@media screen and (max-width: 760px) {
  .none {
    display: none;
  }
  body {
    padding: 0 4.27vw 0;
  }

  //** header **
  .header {
    width: 100%;
    height: 7.47vw;
    margin: 7.47vw 0;
    display: flex;
    justify-content: space-between;
  }
  .logo .img {
    width: 11.98vw;
  }
  .nav {
    width: 40%;
    flex-basis: 38.83%;
    text-transform: Capitalize;
    font-size: 0.9375rem;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .nav > * {
    display: flex;
    justify-content: space-between;
  }
  .nav ul {
    display: none;
  }
  .menu {
    flex-direction: column;
    justify-content: space-between;
    width: 10.67vw;
    height: 4.53vw;
  }
  .menuLine {
    width: 100%;
    height: 0.8vw;
    background-color: $black;
  }
  .menu:hover .menuLine {
    background-color: $red;
  }
  .menu:active .menuLine {
    background-color: $orange;
  }
  .innerLink {
    color: $grey;
  }
  .innerLink:hover {
    color: $red;
  }
  .innerLink:active {
    color: $orange;
  }

  //** Main **
  .main {
    width: 100%;
  }
  .main > * {
    overflow: hidden;
  }

  //** Section **
  .sectionFigure .img {
    width: 100%;
  }
  .title {
    margin-top: 24px;
    margin-bottom: 16px;

  }
  .content {
    margin-top: 16px;
  }

  /*** Button ***/
  .button {
    margin-top: 24px;
    border: none;
    background-color: $red;
    width: 49.33vw;
    height: 5.91vh;
    text-transform: uppercase;
    color: $white;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.27rem;
  }
  .button:active {
    background-color: $orange;
  }

  /** Aside **/
  .aside {
    margin-top: 64px;
    background-color: $black;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 6.40vw 5.6vw;
    gap: 8.00vw;
  }
  .asideArticle p {
    color: $lightGrey
  }

  /** Footer **/
  .footer {
    margin: 21.33vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8.53vw;
  }
  /*** Article ***/
  .article {
    display: grid;
    column-gap: 1.74vw;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .articleFigure {
    aspect-ratio: 100 / 129;
    object-fit: contain;
    overflow: hidden;
  }
  .articleFigure img {
    width: 100%;
    height: 100%;
    object-position: center bottom;
    object-fit: cover;
  }
  .articleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    grid-column: 2/ span 2;
  }
}