.h1 {
  font-size: 3.5rem;
  line-height: 1em;
  font-weight: 800;
}

.articleH3 {
  font-size: 2rem;
  line-height: 1em;
  font-weight: 700;
  color: #C5C6CE;
}

.articleH4 {
  font-size: 1.125rem;
  line-height: 1.333em;
  font-weight: 800;
}

.asideH2 {
  font-size: 2.5rem;
  line-height: 1rem;
  font-weight: 700;
  color: #E9AA52;
  -webkit-text-stroke: 1px #00001A;
}

.asideH4 {
  font-size: 1.25rem;
  line-height: 1.2em;
  font-weight: 800;
}

.p {
  font-size: 0.9375rem;
  line-height: 1.733rem;
  font-weight: 400;
  color: #5E607A;
}

hr {
  color: #5E607A;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Inter, Arial, sans-serif;
  background-color: #FFFDFA;
  color: #00001A;
}

@media screen and (max-width: 760px) {
  .none {
    display: none;
  }
  body {
    padding: 0 4.27vw 0;
  }
  .header {
    width: 100%;
    height: 7.47vw;
    margin: 7.47vw 0;
    display: flex;
    justify-content: space-between;
  }
  .logo .img {
    width: 11.98vw;
  }
  .nav {
    width: 40%;
    flex-basis: 38.83%;
    text-transform: Capitalize;
    font-size: 0.9375rem;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .nav > * {
    display: flex;
    justify-content: space-between;
  }
  .nav ul {
    display: none;
  }
  .menu {
    flex-direction: column;
    justify-content: space-between;
    width: 10.67vw;
    height: 4.53vw;
  }
  .menuLine {
    width: 100%;
    height: 0.8vw;
    background-color: #00001A;
  }
  .menu:hover .menuLine {
    background-color: #F15D51;
  }
  .menu:active .menuLine {
    background-color: #E9AA52;
  }
  .innerLink {
    color: #5E607A;
  }
  .innerLink:hover {
    color: #F15D51;
  }
  .innerLink:active {
    color: #E9AA52;
  }
  .main {
    width: 100%;
  }
  .main > * {
    overflow: hidden;
  }
  .sectionFigure .img {
    width: 100%;
  }
  .title {
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .content {
    margin-top: 16px;
  }
  /*** Button ***/
  .button {
    margin-top: 24px;
    border: none;
    background-color: #F15D51;
    width: 49.33vw;
    height: 5.91vh;
    text-transform: uppercase;
    color: #FFFDFA;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.27rem;
  }
  .button:active {
    background-color: #E9AA52;
  }
  /** Aside **/
  .aside {
    margin-top: 64px;
    background-color: #00001A;
    color: #FFFDFA;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 6.4vw 5.6vw;
    gap: 8vw;
  }
  .asideArticle p {
    color: #C5C6CE;
  }
  /** Footer **/
  .footer {
    margin: 21.33vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8.53vw;
  }
  /*** Article ***/
  .article {
    display: grid;
    column-gap: 1.74vw;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .articleFigure {
    aspect-ratio: 100/129;
    object-fit: contain;
    overflow: hidden;
  }
  .articleFigure img {
    width: 100%;
    height: 100%;
    object-position: center bottom;
    object-fit: cover;
  }
  .articleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    grid-column: 2/span 2;
  }
}
@media screen and (min-width: 769px) {
  body {
    padding: 0 11.458vw 0;
  }
  .header {
    width: 100%;
    height: 9.088vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    flex-basis: 4.45vw;
  }
  .nav {
    width: 40%;
    flex-basis: 38.83%;
    text-transform: Capitalize;
    font-size: 0.9375rem;
  }
  .nav > * {
    display: flex;
    justify-content: space-between;
  }
  .innerLink {
    color: #5E607A;
  }
  .innerLink:hover {
    color: #F15D51;
  }
  .innerLink:active {
    color: #E9AA52;
  }
  .main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.08vw;
    row-gap: 4.86vw;
  }
  .main > * {
    overflow: hidden;
  }
  .section {
    grid-column: 1/span 2;
    width: 50.69vw;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.08vw;
  }
  .sectionFigure {
    width: 100%;
    aspect-ratio: 5/2;
    grid-column: 1/span 2;
    overflow: hidden;
  }
  .sectionFigure .img {
    width: 100%;
    object-position: right top;
  }
  .title {
    grid-column: 1;
    grid-row: 2/span 2;
    align-self: end;
  }
  .content {
    grid-column: 2;
    grid-row: 2;
  }
  /*** Button ***/
  .button {
    border: none;
    background-color: #F15D51;
    width: 12.85vw;
    height: 8.96vh;
    text-transform: uppercase;
    color: #FFFDFA;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0.27rem;
    grid-column: 2;
    grid-row: 3;
    align-self: end;
  }
  .button:active {
    background-color: #E9AA52;
  }
  /** Aside **/
  .aside {
    grid-column: 3/span 1;
    grid-row: 1/span 1;
    width: 24.31vw;
    background-color: #00001A;
    color: #FFFDFA;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 2.22vw 1.67vw;
  }
  .asideArticle p {
    color: #C5C6CE;
  }
  /** Footer **/
  .footer {
    padding: 4.86vw 0;
    display: flex;
    justify-content: space-between;
  }
  /*** Article ***/
  .article {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    column-gap: 1.08vw;
  }
  .articleFigure {
    width: 6.94vw;
    aspect-ratio: 100/129;
    object-fit: contain;
    overflow: hidden;
    grid-column: 1;
  }
  .articleFigure img {
    width: 100%;
    height: 100%;
    object-position: center bottom;
    object-fit: cover;
  }
  .articleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
    grid-column: 2/span 2;
  }
}

/*# sourceMappingURL=style.css.map */
